//- footer.footer
//-     img.img-fluid(src="img/footer-bg.jpg", alt="")
//-     .footer__container
//-         .footer-content 
//-             .footer-top 
//-                 .row 
//-                     .col-12.md-6.sm-3.d-flex
//-                         h4.footer-title Help
//-                             ul.footer-list 
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Search
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Help
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Information
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Privacy Policy
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Sipping Detales 
//-                         h4.footer-title Support
//-                             ul.footer-list 
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Contact Us
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") About Us
//-                                 li.footer-items 
//-                                      a.footer-link(href="#") Careers
//-                                 li.footer-items 
//-                                      a.footer-link(href="#") Refunds & Returns
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Deliveries
//-                         h4.footer-title Support
//-                             ul.footer-list 
//-                                 li.footer-items 
//-                                     p.footer-text No: 58 A, East Madison
//-                                         br
//-                                         |Baltimore, MD, USA 4508
//-                                 li.footer-items 
//-                                     a.footer-link(href="tel: +99 8123 458 678") +99 8123 458 678
//-                                 li.footer-items 
//-                                     a.footer-link(href="email: support@gmail.com") support@gmail.com
//-                                 li.footer-items 
//-                                     a.footer-link(href="www.hmzgolf.com") www.hmzgolf.com
//-                         h4.footer-title Information
//-                             ul.footer-list 
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Press Centre
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") About us
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Terms & Condition
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Privacy Policy
//-                                 li.footer-items 
//-                                     a.footer-link(href="#") Contact Us
//-             .footer-bottom 
//-                 .row
//-                     .col-12.text-center
//-                         p.copyright Copyright  2019; All Rights Reserved.