header#header.fixed-top
    .container.header__container 
        nav.navbar.navbar-expand-lg
            a.navbar-brand.logo(href='#') 
                img(src="img/logo.png", alt="")
            button.navbar-toggler(type='button', data-bs-toggle='collapse',                 data-bs-target='#navContent', aria-controls='navContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navContent.collapse.navbar-collapse.justify-content-end
                ul.navbar-nav.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link(href='#') Home
                    li.nav-item
                        a.nav-link(href='#') Feautures
                    li.nav-item
                        a.nav-link(href='#') Team Members
                    li.nav-item
                        a.nav-link(href='#') Products
                    li.nav-item
                        a.nav-link(href='#') Price
                    li.nav-item
                        a.nav-link(href='#') Blog
            button.btn.btn-outline-success.header-btn(type='submit') Join With Us            

