.section.blog-content 
    .blog__container
        .row  
            .col-lg-4.col-sm-12
                .aside-content
                    .posts 
                        h4.blogcontent-title Recent Post
                        .card.blogcontent-card 
                            .row 
                                .col-lg-4 
                                    .blogcontent-card-img 
                                        img.img-fluid(src="img/blog-smallimg.jpg", alt="")
                                .col-lg-8 
                                    .blogcontent-body 
                                        h5  
                                            a.blog-left-title.link-by(href="#") Ways to improve your short game.
                                        p.by  By:
                                            a.by.link-by(href="#")  Thoms Albert
                                        p.card-text Ut enim ad minim veniam is
                                                    |nostrud exercitation ullamco
                                                    |labors consequat.
                        .card.blogcontent-card 
                            .row 
                                .col-lg-4 
                                    .blogcontent-card-img 
                                        img.img-fluid(src="img/blog-smallimg.jpg", alt="")
                                .col-lg-8 
                                    .blogcontent-body 
                                        h5  
                                            a.blog-left-title.link-by(href="") Ways to improve your short game.
                                        p.by  By:
                                            a.by.link-by(href="#")  Thoms Albert
                                        p.card-text Ut enim ad minim veniam is
                                                    |nostrud exercitation ullamco
                                                    |labors consequat.
                        .card.blogcontent-card 
                            .row 
                                .col-lg-4 
                                    .blogcontent-card-img 
                                        img.img-fluid(src="img/blog-smallimg.jpg", alt="")
                                .col-lg-8 
                                    .blogcontent-body 
                                        h5  
                                            a.blog-left-title.link-by(href="#") Ways to improve your short game.
                                        p.by  By:
                                            a.by.link-by(href="#")  Thoms Albert
                                        p.card-text Ut enim ad minim veniam is
                                                    |nostrud exercitation ullamco
                                                    |labors consequat.
                        .card.blogcontent-card 
                            .row 
                                .col-lg-4 
                                    .blogcontent-card-img 
                                        img.img-fluid(src="img/blog-smallimg.jpg", alt="")
                                .col-lg-8 
                                    .blogcontent-body 
                                        h5  
                                            a.blog-left-title.link-by(href="") Ways to improve your short game.
                                        p.by By:
                                            a.by.link-by(href="#")   Thoms Albert
                                        p.card-text Ut enim ad minim veniam is
                                                    |nostrud exercitation ullamco
                                                    |labors consequat.
                    .category
                        h4.blogcontent-title Category
                        ul.blogcontent-list  
                            li.blogcontent-item
                                a.blogcontent-link(href="#")  Digital Marketing (1)
                            li.blogcontent-item
                                a.blogcontent-link(href="#")  Home Three Post (3)
                            li.blogcontent-item
                                a.blogcontent-link(href="#")  Web Development (5)
                            li.blogcontent-item
                                a.blogcontent-link(href="#")  Software (3)
                            li.blogcontent-item
                                a.blogcontent-link(href="#")  Digital Marketing (1)
                            li.blogcontent-item
                                a.blogcontent-link(href="#")  Home Three Post (3)   
                    .photo 
                        p.photo-text For Add
                            br
                            |300x340 
                    .tags 
                        h4.tegs-title Tags:
                        .tegs-list
                            a.tags-link(href="#") Digital 
                                span.tags-slash /
                            a.tags-link(href="#") Marketing
                                span.tags-slash /
                            a.tags-link(href="#") Software
                                span.tags-slash /  
                            a.tags-link(href="#") Agency
                                span.tags-slash /  
                            a.tags-link(href="#") Event 
                                span.tags-slash / 
                            a.tags-link(href="#") Travel
                                span.tags-slash /
                            a.tags-link(href="#") SEO
                                span.tags-slash / 
                            a.tags-link(href="#") Business
                                span.tags-slash /  
                            a.tags-link(href="#") Corporate 
                                span.tags-slash / 
                            a.tags-link(href="#") Design 
                                span.tags-slash / 
                            a.tags-link(href="#") Development 
                                span.tags-slash / 
                            a.tags-link(href="#") Games 
                                span.tags-slash /
            .col-lg-8.col-sm-12
                h3.blogcontent-bigtitle The Golf Club 2019 impressions: A game that
                                        |needs a lot of trial and error
                .blogcontent-bigimg 
                    img.img-fluid(src="img/blogcontent-big.png", alt="")
                .img-links.d-flex.justify-content-between 
                    p By:
                        a.sociallink(href="#")  Thomas Albadsn 
                        span / 22.05.2019
                    ul.blogcontent-social Share: 
                        li
                            a.sociallink(href="#") facebook 
                            span.tags-slash -
                        li
                            a.sociallink(href="#") twitter
                            span.tags-slash -
                        li
                            a.sociallink(href="#")  skype
                p.blogcontent-text Therefore, the total height of the ladder should be abOn the other hand, we denounce with righteous indignation
                                    |by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
                                    |are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of which is the sam
                                    |as saying through shrinking from toil and pain.
                p.blogcontent-text Therefore, the total height of the ladder should be abOn the other hand, we denounce with righteous indignation
                                    |by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
                                    |are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of which is the sam
                                    |as saying through shrinking from toil and pain.
                p.blogcontent-text Therefore, the total height of the ladder should be abOn the other hand, we denounce with righteous indignation
                                    |by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
                                    |are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of which is the sam
                                    |as saying through shrinking from toil and pain.
                h3.blogcontent-bigtitle Where was Ladder Golf Invented?
                p.blogcontent-text Therefore, the total height of the ladder should be abOn the other hand, we denounce with righteous indignation
                                    |by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
                                    |are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of which is the sam
                                    |as saying through shrinking from toil and pain.
                p.blogcontent-text Therefore, the total height of the ladder should be abOn the other hand, we denounce with righteous indignation
                                    |by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
                                    |are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of which is the sam
                                    |as saying through shrinking from toil and pain. 
                h3.blogcontent-bigtitle Where was Ladder Golf Invented?
                p.blogcontent-text Therefore, the total height of the ladder should be abOn the other hand, we denounce with righteous indignation
                                    |by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
                                    |are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of which is the sam
                                    |as saying through shrinking from toil and pain.
                p.blogcontent-text Therefore, the total height of the ladder should be abOn the other hand, we denounce with righteous indignation
                                    |by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
                                    |are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of which is the sam
                                    |as saying through shrinking from toil and pain.
                .final
                    .row 
                        .col-6 
                            h3.final-title Final thoughts on ladder golf
                                            |and some cool venue ideas.
                            p.final-text Therefore, the total height of the ladder should be abOn the other hand
                                        |by the charms of pleasure of the moment, so blinded by desire, that the
                                        |are bound to ensue; and equal blame belongs to those who fail in their
                                        |as saying through shrinking from toil and pain.
                        .col-6
                            .final-img 
                                img.img-fluid(src="img/mission.jpg", alt="")
                h3.blogcontent-bigtitle Where was Ladder Golf Invented?
                p.blogcontent-text Therefore, the total height of the ladder should be abOn the other hand, we denounce with righteous indignation
                                    |by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
                                    |are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of which is the sam
                                    |as saying through shrinking from toil and pain.
                p.blogcontent-text Therefore, the total height of the ladder should be abOn the other hand, we denounce with righteous indignation
                                    |by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
                                    |are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of which is the sam
                                    |as saying through shrinking from toil and pain.
                h3.comments Comments: 
                .card.comments-card 
                    .row 
                        .col-2 
                            .comments-img 
                                img.img-fluid(src="img/blogcontent-girl.jpg", alt="")
                        .col-10 
                            .comments-body 
                                h5.comments-title Jeremy Parsons
                                p.comments-subtitle Product Manager 
                                p.comments-text Now that your golf balls are ready, you can take out the rope. As we have mentioned, the official lad
                                                |der golf game rules call for the bolas to be 13 inches long. However, our favorite store-bought setter 
                                                |16-inch bolas. And while you definitely.
                                a.comments-link(href="#") Reply 
                .card.comments-card 
                    .row 
                        .col-2 
                            .comments-img 
                                img.img-fluid(src="img/blogcontent-girl.jpg", alt="")
                        .col-10 
                            .comments-body 
                                h5.comments-title Jeremy Parsons
                                p.comments-subtitle Product Manager 
                                p.comments-text Now that your golf balls are ready, you can take out the rope. As we have mentioned, the official lad
                                                |der golf game rules call for the bolas to be 13 inches long. However, our favorite store-bought setter 
                                                |16-inch bolas. And while you definitely.
                                a.comments-link(href="#") Reply
                    .card.comments-card 
                    .row 
                        .col-2 
                            .comments-img 
                                img.img-fluid(src="img/blogcontent-girl.jpg", alt="")
                        .col-10 
                            .comments-body 
                                h5.comments-title Jeremy Parsons
                                p.comments-subtitle Product Manager 
                                p.comments-text Now that your golf balls are ready, you can take out the rope. As we have mentioned, the official lad
                                                |der golf game rules call for the bolas to be 13 inches long. However, our favorite store-bought setter 
                                                |16-inch bolas. And while you definitely.
                                a.comments-link(href="#") Reply
                .row 
                    .col-12
                        h3.comments Leave a comments 
                form(action="#") 
                    .row.mb-3
                        .col-md-6.col-sm-12
                            input.form-control(type='text', placeholder='First name', aria-label='First name')
                        .col-md-6.col-sm-12
                            input#inputEmail4.form-control(type='email', placeholder='Email here' )
                    .row.mb-3 
                        .col-12
                             textarea#exampleFormControlTextarea1.form-control(rows='3', placeholder='Massege here')
                    button.btn.form-btn Submit Comment


