.section.blog.bg-repeate
    .blog__container
        .row 
            .col-12.main-content.d-flex.text-center
                h2.content-title.text-center Latest Blog Post
                p.content-text  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                |essel golden fugiat nulla pariatur.
        .row    
            .col-lg-5.col-md-6.col-sm-12.blog-left
                    .blog-bigimg
                        img.img-fluid(src="img/blog-bigimg.jpg", alt="")
                    .left-card-body
                        h4
                            a(href="").blog-left-title Ways to improve your short game.
                        p 
                            a(href="#").by  By: Thoms Albert
                        p.blog-left-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        |do eiusmod tempor incididunt ut labore et dolore magna
                                        |aliqua. Ut enim ad minim.
            .col-lg-6.col-md-12.blog-right
                .card.mb-3
                    .row.g-0
                        .col-md-4
                            .blog-img 
                                img.img-fluid.rounded-start(src='img/blog-smallimg.jpg', alt='')
                        .col-md-8
                            .blog-cards
                                h5  Ways to improve your short game.
                                p.by By:
                                    a.by(href="#")   Thoms Albert
                                p.card-text Ut enim ad minim veniam is nostrud exercitation ullamco labors
                                            |nisi ut aliquip ex ea commodo consequat.
                .card.mb-3
                    .row.g-0
                        .col-md-4
                            .blog-img 
                                img.img-fluid.rounded-start(src='img/blog-smallimg.jpg', alt='')
                        .col-md-8
                            .blog-cards
                                h5  Ways to improve your short game.
                                p.by By:
                                    a.by(href="#")   Thoms Albert
                                p.card-text Ut enim ad minim veniam is nostrud exercitation ullamco labors
                                            |nisi ut aliquip ex ea commodo consequat.
                .card.mb-3
                    .row.g-0
                        .col-md-4
                            .blog-img 
                                img.img-fluid.rounded-start(src='img/blog-smallimg.jpg', alt='')
                        .col-md-8
                            .blog-cards
                                h5  Ways to improve your short game.
                                p.by By:
                                    a.by.link-by(href="#")   Thoms Albert
                                p.card-text Ut enim ad minim veniam is nostrud exercitation ullamco labors
                                            |nisi ut aliquip ex ea commodo consequat.