.section.clubs 
    .clubs__container 
        .row 
            .col-lg-7.col-md-12.d-flex 
                .card.club-card 
                    h6.clubs-title.text-center Individual
                    p.clubs-price.text-center $59.85
                        span.club-date /Mon
                    p.clubs-text.text-center 
                        |Juniors must be less than 19 years old as at 1st January.
                        br
                        span.yellow-text Save $98 
                        |every year compared
                        |to the monthly plan by paying
                        br
                        |yearly.
                    button.btn.btn-club  Purchase Now
                .card.club-card.ms-3 
                    h6.clubs-title.text-center Individual
                    p.clubs-price.text-center $59.85
                        span.club-date /Mon
                    p.clubs-text.text-center Juniors must be less than 19
                        |years old as at 1st January.
                        br
                        span.yellow-text Save $98 
                        |every year compared
                        |to the monthly plan by paying
                        br
                        |yearly.
                    button.btn.btn-club  Purchase Now
            .col-lg-5.col-md-12
                h2.club-right-title What can you do at the hamz golf club?
                p.club-right-text Duis aute irure dolor in reprehenderit voluptate velit esse cillum dolore essel golden.