section.events
    .events__container 
        .row 
            .col-12.main-content.d-flex.text-center
                h2.content-title.text-center.text-white Upcomming Events
                p.content-text.text-white  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                               |essel golden fugiat nulla pariatur.
        .row.row-cols-1.row-cols-md-2.g-4.events-cardholder
            .card.events-card.mb-3.col-lg-6.col-sm-12
                .row
                    .col-lg-4
                        .events-img
                            img(src='img/dubai.jpg', alt='')
                    .col-lg-8
                        .events-card-body
                            .data-card.d-flex      
                                .data__img
                                    p.text-card
                                        span.icons-time.fa-regular.fa-clock
                                        |25.09.2019
                                .data__img
                                    p.text-card
                                        span.icons-time.fa-regular.fa-calendar
                                        |9.00 AM To 12.00 PM
                            h3.card-title.mt-3.mb-3 
                                a.link-by(href="#")   International Conference
                                    br
                                    |in Dubai
                            .place.d-flex
                                .data__img
                                    p.text-card
                                        a.link-by(href="#") 
                                            span.icons-time.fa-solid.fa-location-dot
                                            |Dubai (United Arab Emirates)
                            .speaker.d-flex 
                                .speaker-img 
                                    img(src="img/men.png", alt="")
                                .speaker-name 
                                    a(href="#").name.link-by Marlon Marshall
                                    .job Speaker
            .card.events-card.mb-3.col-lg-6.col-sm-12
                .row
                    .col-lg-4.col-md-12
                        .events-img
                            img(src='img/dubai.jpg', alt='')
                    .col-lg-8.col-md-12
                        .events-card-body
                            .data-card.d-flex      
                                .data__img
                                    p.text-card
                                        span.icons-time.fa-regular.fa-clock
                                        |25.09.2019
                                .data__img
                                    p.text-card
                                        span.icons-time.fa-regular.fa-calendar
                                        |9.00 AM To 12.00 PM
                            h3.card-title.mt-3.mb-3 
                                a.link-by(href="#")  International Conference
                                    br
                                    |in Dubai
                            .place.d-flex
                                .data__img
                                    p.text-card
                                        a.link-by(href="#") 
                                            span.icons-time.fa-solid.fa-location-dot
                                            |Dubai (United Arab Emirates)
                            .speaker.d-flex 
                                .speaker-img 
                                    img(src="img/men.png", alt="")
                                .speaker-name 
                                    a(href="#").name.link-by Marlon Marshall
                                    .job Speaker
            .card.events-card.mb-3.col-lg-6.col-sm-12
                .row
                    .col-lg-4.col-md-12
                        .events-img
                            img(src='img/dubai.jpg', alt='')
                    .col-lg-8.col-md-12
                        .events-card-body
                            .data-card.d-flex      
                                .data__img
                                    p.text-card
                                        span.icons-time.fa-regular.fa-clock
                                        |25.09.2019
                                .data__img
                                    p.text-card
                                        span.icons-time.fa-regular.fa-calendar
                                        |9.00 AM To 12.00 PM
                            h3.card-title.mt-3.mb-3 
                                a.link-by(href="#")  International Conference
                                    br
                                    |in Dubai
                            .place.d-flex
                                .data__img
                                    p.text-card
                                        a.link-by(href="#") 
                                            span.icons-time.fa-solid.fa-location-dot
                                            |Dubai (United Arab Emirates)
                            .speaker.d-flex 
                                .speaker-img 
                                    img(src="img/men.png", alt="")
                                .speaker-name 
                                    a(href="#").name.link-by Marlon Marshall
                                    .job Speaker
            .card.events-card.mb-3.col-lg-6.col-sm-12
                .row
                    .col-lg-4.col-md-12
                        .events-img
                            img(src='img/dubai.jpg', alt='')
                    .col-lg-8.col-md-12
                        .events-card-body
                            .data-card.d-flex      
                                .data__img
                                    p.text-card
                                        span.icons-time.fa-regular.fa-clock
                                        |25.09.2019
                                .data__img
                                    p.text-card
                                        span.icons-time.fa-regular.fa-calendar
                                        |9.00 AM To 12.00 PM
                            h3.card-title.mt-3.mb-3 
                                a.link-by(href="#")  International Conference
                                    br
                                    |in Dubai
                            .place.d-flex
                                .data__img
                                    p.text-card
                                        a.link-by(href="#") 
                                            span.icons-time.fa-solid.fa-location-dot
                                            |Dubai (United Arab Emirates)
                            .speaker.d-flex 
                                .speaker-img 
                                    img(src="img/men.png", alt="")
                                .speaker-name 
                                    a(href="#").name.link-by Marlon Marshall
                                    .job Speaker