section.features
    .feature__container 
        .row 
            .col-12 
                h2.feature-title.text-center Features of Hamz
                p.feature-text.text-center  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                               |essel golden fugiat nulla pariatur.
        .row.row-cols-1.row-cols-md-2.g-4
            .card.mb-3.col-lg-6.col-sm-12
                .row
                    .col-lg-6.col-md-12
                        .card-img
                            img(src='img/golf.png', alt='')
                    .col-lg-6.col-md-12
                        .card-body
                            h3.card-title.mt-3.mb-3 Stick Holder
                            p.card-text Ut enim adminim veniam nostrud exercitation
                                        |ullamco aboris nisi utten aliquip ex commodo
                                        |consequat aute irur.
            .card.feature-card.mb-3.col-lg-6.col-sm-12
                .row
                    .col-lg-6.col-md-12
                        .card-img
                            img(src='img/cup.png', alt='')
                    .col-lg-6.col-md-12
                        .card-body
                            h3.card-title.mt-3.mb-3 Gold Tropy
                            p.card-text Ut enim adminim veniam nostrud exercitation
                                        |ullamco aboris nisi utten aliquip ex commodo
                                        |consequat aute irur.
            .card.mb-3.col-lg-6.col-sm-12
                .row
                    .col-lg-6.col-md-12
                        .card-img
                            img(src='img/golf-stik.png', alt='')
                    .col-lg-6.col-md-12
                        .card-body
                            h3.card-title.mt-3.mb-3 Golf Stick
                            p.card-text Ut enim adminim veniam nostrud exercitation
                                        |ullamco aboris nisi utten aliquip ex commodo
                                        |consequat aute irur.
            .card.feature-card.mb-3.mcol-lg-6.col-sm-12
                .row
                    .col-lg-6.col-md-12
                        .card-img
                            img(src='img/ball.png', alt='')
                    .col-lg-6.col-md-12
                        .card-body
                            h3.card-title.mt-3.mb-3 Ball and Tee
                            p.card-text Ut enim adminim veniam nostrud exercitation
                                        |ullamco aboris nisi utten aliquip ex commodo
                                        |consequat aute irur.

                

