.section.members
    img.img-fluid(src="bg-members.jpg", alt="")
    .members__container
        .members-content 
            .row 
                .col-12.main-content.d-flex.text-center
                    h2.content-title.text-center Our feature member's
                    p.content-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                    |essel golden fugiat nulla pariatur.
            .row 
                .col-lg-3.col-sm-6.card-member
                    .members-img 
                            img(src="img/natalie.png", alt="")
                    .members-card
                        h4.members-subtitle 
                            a.members-link(href="#") Natalie Watkins
                        p.members-work 
                            a.members-link(href="#")  Professinal Trainer
                .col-lg-3.col-sm-6.card-member
                    .members-img 
                            img(src="img/marlon.png", alt="")
                    .members-card
                        h4.members-subtitle 
                            a.members-link(href="#")    Natalie Watkins
                        p.members-work 
                            a.members-link(href="#") Professinal Trainer
                .col-lg-3.col-sm-6.card-member
                    .members-img 
                            img(src="img/walles.png", alt="")
                    .members-card
                        h4.members-subtitle 
                            a.members-link(href="#") Natalie Watkins
                        p.members-work 
                            a.members-link(href="#")  Professinal Trainer
                .col-lg-3.col-sm-6.card-member
                    .members-img 
                            img(src="img/hadson.png", alt="")
                    .members-card
                        h4.members-subtitle 
                            a.members-link(href="#") Natalie Watkins
                        p.members-work 
                            a.members-link(href="#") Professinal Trainer
                    
                    
    
                

                    