.section.members
    img.img-fluid(src="bg-members.jpg", alt="")
    .members__container
        .members-content 
            .row 
                .col-lg-12
                    h1.members-title.text-center Unlimited golf
                    p.members-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                    |essel golden fugiat nulla pariatur.
    
                

                    