.section.mission 
    .mission__container 
        .card.mission-card  
            .row 
                .col-lg-6.col-sm-12 
                    .mission-img
                        img.img-fluid(src="img/mission.jpg", alt="")
                .col-lg-6.col-sm-12 
                    .mision-card-body 
                        h3.mission-title Mission, vission and history of Hamz.
                        p.mission-text The golf balls were a part of the bolas, which were throwing weapons that existed
                                       |even before the game. Because of the prevalence of this weapon in the Old West
                                       |across the US and Mexico, it’s possible that the game’s origins stretch back a few
                                       |centuries prevalence of this weapon.
                        p.mission-text The golf balls were a part of the bolas, which were throwing weapons
                                       |that existed even before the game.
                        button.btn.mission-btn View Products
                            span.arrow.fa-solid.fa-arrow-right