.section.products
    .products__container 
        .row 
            .col-12.main-content.d-flex.text-center 
                h2.content-title.text-center 
                    a(href="#")  Speacial Golf Products
                p.content-text  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            |essel golden fugiat nulla pariatur. 
        .products-content.d-flex.row
            .col-lg-3.col-md-6
                ul.products-list 
                    li.products-item 
                        span Featured Products
                    li.products-item 
                        span New Products
                    li.products-item 
                        span Best Saller
                    li.products-item 
                        span Branding Iteam
                    li.products-item 
                        span Boys Iteams.
            .products-hodler.col-lg-9.col-md-6
                .products-tab.row.row-cols-lg-3.row-cols-md-2.row-cols-sm-2
                    .card.products-card
                        img.card-img-top.product-img(src='img/glasses.png', alt='')
                        .card-body
                            p.brand-product.text-center  Brand:
                                a.products-link(href="#")  Addidas    
                            h5.card-title.text-center 
                                a.products-link.boys-glass(href="#") Boys Golf Glass
                            p.card-price.text-center Price: $568
                    .card.products-card
                        img.card-img-top.product-img(src='img/hat.png', alt='')
                        .card-body
                            p.brand-product.text-center  Brand:
                                a.products-link(href="#")  Addidas    
                            h5.card-title.text-center 
                                a.products-link(href="#") Boys Golf Glass    
                            p.card-price.text-center Price: $568
                    .card.products-card
                        img.card-img-top.product-img(src='img/polo.png', alt='')
                        .card-body
                            p.brand-product.text-center  Brand:
                                a.products-link(href="#")  Addidas    
                            h5.card-title.text-center 
                                a.products-link(href="#") Boys Golf Glass
                            p.brand-product.text-center Brand: 
                    .card.products-card
                        img.card-img-top.product-img(src='img/car.png', alt='')
                        .card-body
                            p.brand-product.text-center  Brand:
                                a.products-link(href="#")  Addidas    
                            h5.card-title.text-center 
                                a.products-link(href="#") Boys Golf Glass  
                            p.card-price.text-center Price: $568
                    .card.products-card
                        img.card-img-top.product-img(src='img/stik-golf.png', alt='')
                        .card-body
                            p.brand-product.text-center  Brand:
                                a.products-link(href="#")  Addidas    
                            h5.card-title.text-center 
                                a.products-link(href="#") Boys Golf Glass   
                            p.card-price.text-center Price: $568
                    .card.products-card
                        img.card-img-top.product-img(src='img/pocket.png', alt='')
                        .card-body
                            p.brand-product.text-center  Brand:
                                a.products-link(href="#")  Addidas    
                            h5.card-title.text-center 
                                a.products-link(href="#") Boys Golf Glass 
                            p.card-price.text-center Price: $568