.section.touch 
     .touch__container
        .row  
            .col-lg-3.col-sm-12 
                .touch-aside 
                    .office
                        span.touch-icons.fa-solid.fa-phone
                        p.touch-text  Office         
                            a.touch-text(href='tel:+78142332211') +7(814)-233-22-11
                        p.touch-text Office         
                            a.touch-text(href='tel:+78142332211') +7(814)-233-22-11
                    .mail
                        span.touch-icons.fa-regular.fa-envelope  
                        .mail-adress     
                            a.touch-text(href='email:support@gmail.com') support@gmail.com        
                            a.touch-text(href='email:info@example.com') info@example.com
                    .touch-location 
                        span.touch-icons.fa-solid.fa-location-dot
                        p.touch-text PO Box 121 King Street, Melbourne Victoria.
            .col-lg-8.col-sm-12 
                .touch-content 
                    h3.touch-title  Get in touch
                    form(action="#") 
                        .row.mb-3
                            .col-md-6.col-sm-12
                                input.form-control(type='text', placeholder='First name', aria-label='First name')
                            .col-md-6.col-sm-12
                                input#inputEmail4.form-control(type='email', placeholder='Email here' )
                        .row.mb-3
                            .col-md-6.col-sm-12
                                input.form-control(type='text', placeholder='Subject')
                            .col-md-6.col-sm-12
                                input#inputEmail4.form-control(type='tel', placeholder='Phone No' )
                        .row.mb-3 
                            .col-12
                                textarea#exampleFormControlTextarea1.form-control(rows='15', placeholder='Massege here')
                        button.btn.form-btn.touch-btn Submit Comment
        .row 
            .col-12 
                .touch-img 
                    img(src='img/map.jpg', alt='')
                a(href="#") 
                    span.dot.fa-solid.fa-location-dot  