.section.welcome#welcome
    img.img-fluid(src="img/welcome-bg.jpg", alt="")
    .welcome__container
        .welcome-content 
            .row 
                .col-lg-12
                    h1.welcome-title Unlimited golf
                        br
                        |experience
                    p.welcome-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                    |dolore eu fugiat nulla pariatur.
                    button.btn.welcome-btn View Products
        
