.section.welcome-blog
    img.img-fluid(src="img/aboutwelcome.jpg", alt="")
    .welcome__container
        .welcome-content 
            .row 
                .col-lg-12
                    h2.welcome-title Blog Details
                    a.link-by(href="#") Home - Blog