doctype html
html(lang="en-US")
  head
    meta(charset='utf-8')
    include main/head
  body
    wrapper.contact
        include partials/header
        include layouts/contact
        include partials/footer
        include main/scripts 