.content
  include ../components/welcome
  include ../components/features
  include ../components/members
  include ../components/products
  include ../components/events
  include ../components/clubs
  include ../components/blog