@import "../scss/_mixins";
@import "../scss/typography";

html,body {
    height: 100%; 
}
body {
    -webkit-font-smoothing: antialiased;
}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
main {
    flex: 1 1 auto;
}
[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto; 
    padding: 0 15px;
}
// =====header
.transform {
    background-color: $bgc8;
}
.header__container {
    padding: 20px 15px;
}
.logo:hover {
    opacity: .7;
}
.nav-link {
    color: $color3;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: .3px;
    &:hover {
        color: $color4;
    }
}
.navbar-expand-lg .navbar-nav {
    gap: 25px;
}
// =====welcome
.welcome {
    height: 100vh;
    min-height: 860px;
    display: flex;
    align-items: center;
    &__container {
        width: 100%;
    }
    &-img {
        width: 100%;
    }
    &-text {
        color: $color7;
        max-width: 500px;
        margin: 30px 0;
    }
}
// ====feature
.main-content {
    flex-direction: column;
}
.content-text {
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 75px;
}
.features {
    padding-top: 130px;
}
.feature-cols {
    margin-left: -40px;
}
.feature-card {
    width: 570px;
    padding: 20px 25px;
    margin-left: 20px;
    background-color: $bgc5;
    @include transition(color background);
    &:hover {
        background-color: $bgc3;
        .card-title {
            color: $color2;
        }
        .card-text {
            color: $color2;
        }
    }
}
.card {
    &-body-features { 
        padding-left: 35px;
    }
    &-img {  
        text-align: center;
        width: 100%;
    }
    &-title {
        color: $color3; 
    }
    &-text {
        line-height: 1.7;
    }
    }
// ====members
.members {
    margin-top: 150px;
    padding-top: 50px;
    background-image: url("../img/members-bg.png");
    background-repeat-x: repeat;
    background-size: 667px 100%;
    &-text {
        max-width: 520px;
        margin: 0 auto;
    }
    &-img {
        position: relative;
        border-radius: 50%;
        border: 5px dashed $color2;
    }
    &-work {
        padding: 15px 0 45px 0;
        color: $color2;
    }
}
.members-content {
    padding-top: 120px;
}
.members-link {
    color: $color2;
    &:hover {
        text-decoration: underline;
    }
}
.card-member {
    margin-top: 30px;
    padding-left: 0;
}
.members-card {
    width: 240px;
    height: 300px;
    border-radius: 50px;
    background-color: $bgc3;
    @include flex(null, column, end, center);
    margin: -125px 0 0 10px;
    @include transition(background);
    &:hover {
        background-color: $bgc4;
    }
}
// ====products
.products {
    &-content {
        padding-bottom: 350px;
    }
    &-holder {
        position: relative;
        min-height: 710px;
        padding-bottom: 200px;
    }
    &-card {
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 0 25px 0 rgba(34, 34, 34, 0.08);
        background-color: $color2;
    }
    &-img {
        padding-bottom: 60px;
        border-bottom: 3px solid #e5f0d2;
        margin-bottom: 35px;
    }
}
.products-link {
    &:hover {
        text-decoration: underline;
}
}
.products-item {
    padding: 30px 52px 30px 30px;
    &:last-child{
        margin-bottom: 0;
    }
    color: $color3;
    border-radius: 8px;
    box-shadow: 0 0 25px 0 rgba(34, 34, 34, 0.08);
    border: solid 1px $color9;
    @include transition(background);
    &::before {
        content: "";
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        border: 3px solid $color1;
        margin-right: 20px;
    }
    &:hover {
        background-color: $bgc3;
        color: $color2
    }
}
.products-tab {
    position: absolute;
    left: 35%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    @include transition(visibility opacity);
    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}
.brand-product {
    background-color: #e5f0d2;
    padding: 5px 20px;
    border-radius: 12px;
}
.card-price {
    color: $color5;
}
// ====events
.events {
    background-color: $bgc3;
    &__container {
        padding-top: 90px;
    }
    &-img {
        width: 100%;
    }
}
.events-card-body {
    padding-left: 50px;
}
.data-text {
    font-size: #{$fs-sm+2};
    color: $color3;
    font-weight: 700;
}
.speaker-name {
    margin-left: 25px;
}
.name {
    color: $color3;
    font-weight: 700;
}
.job {
    font-size: $fs-sm;
}
// ====clubs
.clubs__container {
    padding-top: 120px;
}
.club-card {
    padding: 45px 67px;
    border-radius: 8px;
    box-shadow: 0 0 22px 0 rgba(0, 33, 118, 0.1);
}
.clubs-price {
    margin-top: 30px;
    font-size: #{$fs-lg+19};
    color: $color4;
    font-weight: 900;
}
.club-date {
    font-size: #{$fs-sm+2};
    font-weight: normal;
    line-height: 1.9;
    color: $color4;
}
.clubs-text {

}
.yellow-text {
    color: #ffae00;
}
// ====blog
.blog__container {
    padding-top: 120px;
}
.left-card-body {
    padding-left: 35px;
}
.by {
    color: $color4;
}
.blog-right {
    margin-left: 20px;
}
// ====footer
.footer__container {
    padding-top: 175px;
}
.footer-list{
     margin-top: 65px;
 }
.space-between{
    justify-content: space-between;
}
.footer-link,
.footer-text {
    font-size: #{$fs-sm+2};
    font-family: $third-font;
    line-height: 2.7;
    font-weight: normal;
    color: $color2; 
 }
.footer-link:hover {
    text-decoration: underline;
 }
.footer-text {
     font-family: $third-font;
     font-weight: 400;
 }
.copyright {
    font-size: #{$fs-sm+1};
    color: $color2;
    font-weight: 2.9;
    border-top: 1px solid $color8;
    margin: 80px 0 10px 0;
    padding-top: 20px;
}