.btn {
    background-color: $bgc3;
    color: $color2;
    border-radius: 30px;
    padding: 15px 40px;
    border: none;
    @include transition(color background);
    &:hover {
       background-color: #ff9600 ;
       text-decoration: none;
       color: $color2;
}
}
.header-btn {
    margin-left: 40px;
}
.btn .btn-outline-success .header-btn {
  order: 2;
}
.navbar-toggler .collapsed {
  order: 3;
  }
.navbar-collapse .collapse {
  order: 4;
}
.arrow {
  padding-left: 20px;
}
.form-btn {
  margin-bottom: 150px;
}
.mission-btn {
  margin-top: 20px;
}