.btn {
    background-color: $bgc3;
    color: $color2;
    border-radius: 30px;
    padding: 15px 40px;
    border: none;
    @include transition(color background);
    &:hover {
       background-color: #ff9600 ;
       text-decoration: none;
       color: $color2;
}
}
.header-btn {
    margin-left: 40px;
}
.arrow {
  padding-left: 20px;
}