@import "../scss/_variables";

body {
    @include font($fs-md,$fs-sm);
    font-family: $main-font;
    font-weight: normal;
    color: $color1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    color: $color3;
}
h1 {
    @include font($fs-xxlg,$fs-xlg);
}
h2 {
    @include font($fs-xlg,$fs-lg);
    font-weight: bold;
    line-height: 1.2;
}
h3 {
    @include font($fs-lg,$fs-md);
}
h4{
    @include font(#{$fs-lg+2},$fs-md);
    font-weight: bold;
    color: $color2;
}
h5 {
    @include font($fs-lg,$fs-md);
}
h6 {
    @include font(#{$fs-md+4},$fs-sm);
    font-weight: 800;
}
a {
    color: $color3;
    }
p {
    @include font($fs-md,$fs-sm);
    color: $color1;
    line-height: 1.9;
    font-weight: normal;
}
