$fs-xxlg: 80px;
$fs-xlg: 45px;
$fs-lg: 23px;
$fs-md: 16px; 
$fs-sm: 13px;
$main-font: "Overpass"; 
$secondary-font: "Ubuntu";
$third-font: "Poppins";
$color1: #6e7891; 
$color2: #ffffff;
$color3: #1a0e4b;
$color4:  #598117;
$color5: #ff3600;
$color6: #ffae00;
$color7: #373e39;
$bgc1: #f8f9f6;
$bgc2: #fff;
$bgc3: #668b16;
$bgc4: #29abe2;
$bgc5: #f6f8f3;
